{% extends 'index.html' %}

{% load static %}

{% block variable %}
<section class="main-content">
    <div class="contact-container">
        <h1>Contacto</h1>
        <div class="avatar-links">
            <a href="https://github.com/guidosoria" target="_blank">
                <img src="{% static 'media/img/github-avatar.jpg' %}" alt="GitHub" width="150" height="150" style="border-radius: 30%;">
            </a>
            <a href="https://www.linkedin.com/in/guido-soria/" target="_blank">
                <img src="{% static 'media/img/linkedin-avatar.png' %}" alt="LinkedIn" width="150" height="150" style="border-radius: 30%;">
            </a>
        </div>
        <br>
        <div class="contact-info">
            <p><strong>Correo electrónico: </strong><p style="color: gray;">g.sorianantes@gmail.com</p></p>
        </div>
    </div>
</section>
{% endblock variable %}